html,body{
    height: 100%;
    margin:0;
    padding:0;
    height: 100%;
    background-image: url("../icons/desert.png");
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: burlywood;
    font-family: Comic Sans MS;
    line-height:30px;
  }
  #post_list{
   border: wheat 10px solid;
   background-color: wheat;
  }
  #other{
    background-color:burlywood;
      }
      #self{
    background-color: white;
      }