html,body{
    height: 100%;
    background-image: url("../icons/meet.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: rgb(255,234,175);
    align-items: flex-end;
    font-family: Comic Sans MS;
    line-height:30px;
  }
  .container{
    border: rgba(255,244,190, 0) 10px solid;
  }