html,body{
  height: 100%;
  margin:0;
  padding:0;
  font-family: Comic Sans MS;
}
#signin{
  text-align:center;
  height: 100%;
  background-image: url("../icons/back.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: white;
  align-items: center;
  font-family: Comic Sans MS;
  line-height:30px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    align-content: center;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }